@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

section{
    height: 100vh;
    width: 100vw;
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    header{
        height: 50px;
        width: 100vw;
        position: fixed;
        z-index: 3;
        font-family: 'Open Sans', sans-serif;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 0 20px;
    }
    .atras{
        position: fixed;
        width: 100%;
        top: 26vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fundo{
        position: fixed;
        margin-bottom: auto;
        left: -1vw;
    }
    .titulo{
        position: absolute;
        z-index: 2;
        font-size: 2.7vw;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    article{
        position: relative;
        z-index: 2;
        font-family: 'Open Sans', sans-serif;   
        background-color: white;
        top: 50vw;
        width: 100vw;
        height: auto;
        padding-bottom: 10%;
        overflow: hidden;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        list-style: none;
        padding: 0;
        background-color: #341671;
        height: 50px;
        width: 100vw;
    }
    .subl{
        position: absolute;
        z-index: 4;
        top: 47px;
        width: 50%;
        left: 50%;
        height: 3px;
        background-color: #AE2D68;
        border: 0px solid white;
        transition: 0.5s all;
    }
    .material{  
        position: relative;
        top: 50px;
        left: 5px;
        width: 80%;
        padding-bottom: 150px;
    }

}
@media screen and (min-width: 768px) {
    body{
        overflow-x: hidden;
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    header{
        height: 50px;
        width: 100vw;
        position: fixed;
        z-index: 3;
        font-family: 'Open Sans', sans-serif;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;
    }
    .atras{
        position: fixed;
        width: 100%;
        height: 38vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fundo{
        position: fixed;
        margin-bottom: auto;
        top: 2vw;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .titulo{
        position: absolute;
        z-index: 2;
        font-size: 2.7vw;
        margin-top: 10vh;
        margin-bottom: 10px;
        text-align: center;
    }
    article{
        position: relative;
        z-index: 2;
        font-family: 'Open Sans', sans-serif;   
        background-color: white;
        top: 38vw;
        width: 100vw;
        height: auto;
        padding-bottom: 10%;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        list-style: none;
        padding: 0;
        background-color: #341671;
        height: 50px;
        width: 100vw;
    }
    .subl{
        position: absolute;
        z-index: 4;
        top: 47px;
        width: 50%;
        left: 55.7vw;
        height: 3px;
        background-color: #AE2D68;
        border: 0px solid white;
        transition: 0.5s all;
    }
    .material{  
        position: relative;
        top: 80px;
        left: 5px;
        width: 80%;
        padding-bottom: 150px;
    }
}
.menu ul li {
    display: inline;
    float: right;
    transition: 1s;
}

.menu ul li a:hover {
    background-color: #682b60;
}

.menu ul li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.215vw;
    position: relative;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-left: 1.05vw;
    padding-right: 1.05vw;
    transition: 1s background;
}


ul h1 {
    position: absolute;
    margin-top: 10px;
    font-size: 27px;
    display: inline;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-left: 14px;
}





.titulo h1{
    margin-bottom: 5px;
    color: #ffffff;
    backdrop-filter:  brightness(60%);
    font-family: 'Open Sans', sans-serif;  
}

#btn_hamburguer{
    background: none;
    border: none;
    height: 9%;
    width: 9%;
    z-index: 220;
    margin-left: 91%;
}

#img_hamburguer{
    width: 30px;
    height: 30px;
}

#lis{
    position: relative;
    top: 10vh;
}

#img_hamburguer2{
    width: 100%;
    height: 100%;
}

#menu__{
    display: none;
    position: relative;
    background-color: #280659;
    width: 65%;
    left: 40vw;
    bottom: 1.2vh;
    height: 100.2vh;
}


#lis li{
    margin-top: 30px;
}

#botao_desaparecer{
    position: absolute;
    background: none;
    border: none;
    height: 18%;
    width: 18%;
    top: -29vh;
    right: 13%;
}
.links{
    width: 60vw;
    position: relative;
    margin-top: 70%;
    text-align: center;
}

#img_hamburguer2{
    width: 100%;
    height: 100%;
}

#menu_mobile ul li{
    list-style: none;
}

#menu_mobile ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    
}


@keyframes aparecer2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  } 
  
  @keyframes desaparecer2 {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(100%);
      }
  } 

@keyframes desaparecer3{
    from{
        opacity: 100%;
    }to{
        opacity: 0%;
    }
}

@keyframes aparecer3{
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}

#lishamburguer{
    list-style: none;
    float: right;
}

#lishamburguer li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.21vw;
    position: relative;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-left: 1.05vw;
    padding-right: 1.05vw;
    transition: 1s background;
}

#menu_tudo{
    display: none;
}

#uls_mobile li{
    list-style: none;
}

#uls_mobile li a{
    text-decoration: none;
    color: white;
} 

#img_fechar{
    width: 100%;
    height: 100%;
}
  
#botao_fechar{
    background: none;
    width: 10%;
}

#tit_img{
    width: 100%;
    text-align: center;
}
.ft1 {
    position: relative;
    width: 100%;
}
.logo {
    display: inline;
    float: left;
    margin-top: -8px;
    margin-left: 1vw;
    height: 60px;
    width: 60px;
}
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: rgb(173, 173, 173);
}

body::-webkit-scrollbar-thumb {
    background-color: #422680;
    border-radius: 30px;

}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
    transition: 0.7s;
}


input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 #682b60;
    border-color: #682b60;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

#meuMenu {
    display: none;
}

.fild{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #682b60;
    border: none;
    text-align: center;
    width: 200px;
    border-radius: 20px;
}

.eng{
    width: 30px;
    transition: 0.5s;
}

.eng:hover{
    width: 35px;
}

.eng:active{
    width: 27px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#btnn{
    background: none;
    border: none;
    animation: rotacao 5s infinite;
}

@keyframes rotacao{
    0%{
        transform: rotate(10deg);
    }50%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(10deg);
    }
}

#btnn2{
    background: none;
    border: none;
    animation: rotacao2 5s infinite;
}

@keyframes rotacao2{
    0%{
        transform: rotate(10deg);
    }50%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(10deg);
    }
}

.btnc{
    text-align: center;
    width: 60px;
}
.material h1{
    font-size: 2.0em;
}
#traco{
    height: 2px;
    background-color: #422680;
    border: #422680 1px solid; 
    width: 370px;
}

@media screen and (max-width: 768px) {
    .bloco{
        position: relative;
        left: 5%;
        top: 20px;
        margin-bottom: 10px;
        padding: 1.5%;
        background-color: white;
        margin-top: 10px;
        width: 100%;
    }
    .bloco hr{
        border: 1px black solid;
        background-color: black;
        width: 113%;
        position: relative;
        right: 2%;
    }
    .tit{
        position: relative;
        top: 4%;
        left: 1%;
        font-size: 0.9em;
    }
    .desc{
        position: relative;
        width: 100%;
        left: 5%;
        margin-top: 1%;
        font-family: 'Open Sans', sans-serif;   
        text-indent: 10%;
        text-align: justify;
        font-size: 0.6em;
    }
    .buttons{
        position: relative;
        top: 21%;
        margin-top: 2%;
        margin-bottom: 2%;
        zoom: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
        left: 10%;
    }
    #link{
        position: relative;
        margin-left: 10vw;
        background-color: #ffffff;
    }
    .autor{
        position: absolute;
        top: 96%;
        left: 4%;
        font-weight:bolder;
        font-size: 0.6em;
    }
    .data{
        position: absolute;
        left: 95%;
        top: 95%;
        width: 15%;
        font-weight:bolder;
        font-size: 0.4em;
    }
}
@media screen and (min-width: 768px) {
    .bloco{
        position: relative;
        left: 10%;
        top: 20px;
        margin-bottom: 10px;
        padding: 1.5%;
        background-color: white;
        margin-top: 10px;
    }
    .tit{
        position: relative;
        top: 4%;
        left: 2%;
        font-size: 1.1em;
    }
    .bloco hr{
        border: 1px black solid;
        width: 110%;
        position: relative;
        right: 5%;
    }
    .desc{
        position: relative;
        width: 94%;
        left: 2%;
        margin-top: 1%;
        font-family: 'Open Sans', sans-serif;   
        text-indent: 5%;
        text-align: justify;
        font-size: 1.0em;
    }
    .buttons{
        position: relative;
        top: 20%;
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;    
        justify-content: center;
        align-items: center;
    }
    #link{
        position: relative;
        margin-left: 18%;
        background-color: #ffffff;
    }
    .autor{
        position: absolute;
        top: 86%;
        left: 1%;
        font-weight:bolder;
    }
    .data{
        position: absolute;
        left: 88%;
        top: 83%;
        font-weight:bolder;
        font-size: 0.7em;
    }
}
#hb{
    position: relative;
    top: 15px;
}
.buttons button{
    background-color:#422680;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px; 
    border: 0px solid white;
    padding: 0.5rem 0.5rem;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s all;
}
.buttons button:hover{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.637), 0px 2px 2px 0px rgba(0, 0, 0, 0.767), 0px 1px 5px 0px rgba(0, 0, 0, 0.87);
}
.material a{
    position: relative;
    top: 30px;
}
.login{
    position: relative;
    z-index: 3;
    top: 40vw;
    font-family: 'Open Sans', sans-serif;  
}
.login::after{
    position: relative;
    content: '';
    width: 7px;
    height: 7px;
    top: -14px;
    left: 95px;
    border: green solid 1px;
    background-image: linear-gradient(green, rgb(100, 226, 100));
    border-radius: 10px;
    display: block;
    animation: infinite bola 5s;
    transition: 2s;
}
@keyframes bola{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}

.trc{
    background-color: gray;
    width: 220px;
    border-color: gray;
    
}

h5{
    color: #422680;
    width: 220px;
}

@media screen and (max-width: 768px){
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #280659;
        color: white;
        text-align: center;
        height: auto;
        margin-top: 30%;
    }  
    .coluna2{
        position: relative;
        height: 80px;
        width: 80px;
        left: 2%;
    }
    .coluna2 img{
        height: 80px;
        width: 80px;
    }
    .info{
        margin-left: 6vw;
        margin-top: 2%;
        font-size: 0.4em;
        margin-right: 1%;
    }
    .info h3{
        margin-bottom: 10px;
    }
    #redes img{
        height: 25px;
        width: 25px;
    }
    #hr2{
        position: relative;
        transform: rotate(90deg);
        bottom: 57%;
        left: 60%;
        width: 85%;
        background-color: #ffffff;
    }
    #vmt{
        position: relative;
        font-size: 0.6em;
    }
    .info p{
        text-align: left;
        font-size: 1.5vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1060px){   
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #280659;
        color: white;
        text-align: center;
        height: auto;
    }    
    .coluna2{
        position: relative;
        height: 120px;
        width: 120px;
        left: 2%;
    }
    .coluna2 img{
        height: 120px;
        width: 120px;
    }
    .info{
        margin-left: 11.5%;
        margin-top: 0.5%;
    }
    .info h3{
        margin-bottom: 10px;
    }   
    #redes img{
        height: 50px;
        width: 50px;
    }
    #hr2{
        position: relative;
        transform: rotate(90deg);
        bottom: 50%;
        background-color: #ffffff;
        left: 100%;
        width: 85%;
    }
    .info p{
        text-align: left;
        font-size: 0.6em;
    }
}
@media screen and (min-width: 1060px){   
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #280659;
        color: white;
        text-align: center;
        height: auto;
    }    
    .coluna2{
        position: relative;
        height: 140px;
        width: 140px;
        left: 2%;
        margin-bottom: 10px;
    }
    .coluna2 img{
        height: 160px;
        width: 160px;
    }
    .info{
        margin-left: 14%;
        margin-top: 0.5%;
    }
    .info h3{
        margin-bottom: 10px;
    }   
    #redes img{
        height: 50px;
        width: 50px;
    }
    #hr2{
        position: relative;
        transform: rotate(90deg);
        bottom: 65%;
        background-color: #ffffff;
        left: 100%;
        width: 85%;
    }
    .info p{
        text-align: left;
        font-size: 0.8em;
    }
}
.fim{
    position: relative;
    display: flex;
    flex-wrap: wrap; 
}

.coluna3{
    float: right;
    margin-right: 20px;
}

.linhafooter{
    width: 100%;
}
#container{
    position: relative;
    min-height: 100vh;
}
#r_img{
    position: relative;
    display: flex;
    flex-wrap: wrap; 
}
.deslog{
    position: relative;
    top: 50px;
}
.deslog a{
    position: absolute;
    margin-top: -30px;
    margin-left: 15px;
    color: black;
    text-decoration-line: none;
    display: inline-block;
    transition: 300ms all;
    font-family: 'Open Sans', sans-serif;
}
.deslog a:hover{
    color: blue;
}
.deslog a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}
.deslog a:hover::after {
    width: 100%;
}
